html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #293F53;
    color: whitesmoke;
    position: relative;
}

a {
    font-family: 'Oswald', sans-serif;
    color: whitesmoke;,
}

a:hover {
    color: black
}

span {
    color: whitesmoke;
}

.overflow {
    overflow: hidden;
}

/* Main View */

.MainView {
    position: absolute;
    display: table;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

/* Center things Horizontal and Vertically*/
.logoWrap {
    width: 100vw;
    height: 80vh;
    text-align: center;
}

.centerHelp {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.centerHelpVertical {
    transform: scale(0.8, 0.8);
    cursor: pointer;
}

.logoWrap.link {
    height: auto;
}

.langLink {
    vertical-align: middle;
    cursor: pointer;
}

/* Menu=Nav */
.positionNav {
    z-index: 100;
    position: absolute;
    margin: 10px;
    width: 55px;
    right: 0;
}

.line {
    position: relative;
    height: 4px;
    margin: 5px;
    margin-left: 15px;
    width: 35px;
    background-color: whitesmoke;
    cursor: pointer;
    transition: .5s;
}

.line.activeLine {
    height: 3px;
    width: 45px;
    background-color: dimgray;
    transition: all .5s;
}

.navMenuHover.hidden {
    display: block;
    opacity: 1;
}

.hidden {
    font-weight: 600;
    opacity: 0;
    position: absolute;
    top: -10px;
    white-space: nowrap;
    right: 60px;
    transition: opacity 0.5s
}

/* General */

.up-enter-active, .up-leave-active, .down-enter-active, .down-leave-active {
    transition: ease 1s
}

.asdfg {
    left: 0;
    top: 0;
}

.asdf {
    right: 0;
    top: 0;
}

.up-enter {
    position: absolute;
    height: 100vh;
    width: 50vw;
    transform: translateY(100%);
}

.up-leave-to {
    position: absolute;
    height: 100vh;
    width: 50vw;
    transform: translateY(-100%);
}

.down-enter {
    position: absolute;
    height: 100vh;
    width: 50vw;
    transform: translateY(-100%);
}

.down-leave-to {
    position: absolute;
    height: 100vh;
    width: 50vw;
    transform: translateY(100%);
}

.side-enter-active, .side-leave-active {
    transition: ease 0.5s
}

.side-enter {
    transform: translateX(100%);
}

.side-leave-to {
    transform: translateX(-100%);
}

/* Window */

.window {
    position: relative;
    float: left;
    height: 100vh;
    width: 50vw;
}

.window.right {
    position: absolute;
    display: table;
    top: 0;
    left: 50%
}

.window.left {
    position: absolute;
    display: table;
    top: 0;
}

/* Text in Window */

.tab {
    margin-bottom: 20px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 60%
}

/* Image in Window */

.centerImg {
    height: 100%;
    width: 100%;
    text-align: center;
}

.maxSize {
    max-height: 100%;
    max-width: 100%;
}

.backgroundBlack {
    background-color: black;
}

.mainWindow.mobile {
    position: relative;
    width: 100%;
    height: auto;
}

.window.mobile {
    /*position: absolute;*/
    display: table;
    top: auto;
    width: 100%;
    height: 100vh;
}

/* TEXT */
.tSpaceB {
    padding-top: 90px;
}

.tSpaceM {
    padding-top: 30px;
    padding-bottom: 30px;
}

.text {
    font-weight: 300;
}

.tBig.text {
    line-height: 145%;
    font-size: 36px;
}

.tMiddle.text {
    font-size: 24px;
}

.tSmall.text {
    font-size: 17px;
}

.tSmall.disc {
    line-height: 170%;
}


/*responsive css*/
@media screen and (max-width: 1200px) {
  .tBig.text {
    font-size: 28px;
  }
  .tSmall.text {
    font-size: 15px;
  }
  .tMiddle.text {
    font-size: 22px;
  }
}

@media screen and (max-width: 1000px) {
  .tBig.text {
    font-size: 26px;
  }
}

@media screen and (max-width: 900px) {
  .tBig.text {
    font-size: 24px;
  }
  .tMiddle.text {
    font-size: 20px;
  }
}



@media screen and (max-width: 850px) and (max-height: 600px) {
    .tBig.text {
        font-size: 22px;
    }

    .tMiddle.text {
        font-size: 16px;
    }

    .tSmall.text {
        font-size: 12px;
    }

    .tSpaceB {
        padding-top: 20px;
    }

    .tSpaceM {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .inner {
        width: 80%
    }

    .maxSize {
        max-width: 70%;
    }
}

@media screen and (width: 768px) and (height: 1024px) {
    .tBig.text {
        font-size: 28px;
    }
}

@media (max-width: 700px) {
    .inner {
        width: 80%
    }

    .maxSize {
        max-width: 100%;
    }

    .tBig.text {
        line-height: 145%;
        font-size: 30px;
    }

    .tMiddle.text {
        font-size: 22px;
    }

    .tSmall.text {
        font-size: 16px;
    }

    .tSpaceB {
        padding-top: 90px;
    }

    .tSpaceM {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 450px) and (max-height: 800px) {
    .tBig.text {
        font-size: 27px;
    }

    .tMiddle.text {
        font-size: 20px;
    }

    .tSmall.text {
        font-size: 15px;
    }
}

@media (max-width: 360px) {
    .tBig.text {
        font-size: 23px;
    }

    .tMiddle.text {
        font-size: 18px;
    }

    .tSmall.text {
        font-size: 14px;
    }

    .tSpaceB {
        padding-top: 50px;
    }

    .tSpaceM {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}





@media screen and (max-width: 700px) and (min-width: 480px) and (max-height: 450px) and (min-width: 300px) {
  .tBig.text {
    font-size: 27px;
  }

  .tMiddle.text {
    font-size: 20px;
  }

  .tSmall.text {
    font-size: 15px;
  }
}

/* Small landscape responsive css*/

.inner {
  position: relative;
}

.middle.mob {
  text-align: left;
}
.tab.tMiddle.text.mob {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 55%;
}

.maxSize.mob {
  max-width: 50%;
}



.mobl {
  position: absolute;
  width: 45%;
  top: 50%;
  transform: translateY(-50%);
}
.mobr {
  position: absolute;
  margin-left: 55%;
  width: 45%;
  top: 50%;
  transform: translateY(-50%);
}

.noPadding {
  padding: 0;
}

.padding {
  padding-top: 40px;
}

.paddingHalf {
  padding-top: 20px;
}

.mob.inner {
  height: 80%;
}
